<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>learning journal.</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="/static/main.css" rel="stylesheet" type="text/css">
    <link href="/static/codehilite.css" rel="stylesheet" type="text/css">

  </head>
  <body id="home">
    <header>
      <aside id="user-controls">
        <ul id="login_link">
        {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">log in</a></li>
        {% else %}
          <li><a href="{{ request.route_url('logout') }}">log out</a></li>
        {% endif %}
        </ul>
      </aside>
    </header>
    <h1><a href="{{ request.route_url('home') }}">learning journal.</a></h1>



    <ul id="entries">
    {% block body %}{% endblock %}

    </ul>


<!--
    <ul id="entries-menu">
      <li id="see-all-button">see all</li>
      <li id="new-entry-button"><a href="new.html">+new</a></li>
    </ul>
-->
  </body>
</html>