{% extends "base.jinja2" %}
{% block body %}

  <h2>Entries</h2>


  {% for entry in entries %}
  <article class="entry" id="entry={{entry.id}}">
    <h3><a href="/detail/{{ entry.id }}">{{ entry.title }}</a></h3>
    <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}
  </article>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far</em></p>
  </div>
  {% endfor %}


  <ul id="entries-menu">
  <!--
    <li id="see-all-button">see all</li>
  -->
    {% if request.authenticated_userid %}
    <li id="new-entry-button"><a href="{{ request.route_url('new') }}">+new</a></li>
    {% endif %}
  </ul>

{% endblock %}
