{% extends "base.jinja2" %}
{% block body %}
  <h2 id="login-label">login:</h2>
  {% if error -%}
  <p class="error"><strong>Error</strong>: {{ error }}
  {%- endif %}
  <form id="login-form" action="{{ request.route_url('login') }}" method="POST">
    <div class="login-field">
      <label for="username">username</label>
      <input type="text" name="username" id="username"/>
    </div>
    <div class="login-field">
      <label for="password">password</label>
      <input type="password" name="password" id="password"/>
    </div>
    <div class="control_row">
      <input type="submit" name="login" value="login"/>
    </div>
  </form>
{% endblock %}
